<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parking Lot</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1 class="logo">Smart Space</h1>
        <nav class="navigation">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
            <button class="btnLogin-popup">Log-Out</button>
        </nav>
    </header>
    <div class="card-container-2">
        <div class="card-2">
            <img id="qrcode" src="">
            <div class="card-content">
                <ul id="data-container"></ul>
                <h3>Parking Slot : <span id="parking-slot"></span></h3>
                <script>
                    document.getElementById('qrcode').src = "<%= qrcode %>";
                    document.getElementById('parking-slot').innerText = "<%= parking-slot %>";
                </script>
            </div>
        </div>
    </div>
</body>
</html>